<section id="contact">
    <div class="contact-box" >
      <div class="contact-links">
        <h2>CONTACT</h2>
        <div class="links">
          <div class="link">
            <a href=""><img src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" alt="linkedin"></a>
          </div>
          <div class="link">
            <a><img src="https://i.postimg.cc/YCV2QBJg/github.png" alt="github"></a>
          </div>
        
          <div class="link">
            <a><img src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email"></a>
          </div>
        </div>
      </div>
      <div class="contact-form-wrapper">
        <form [formGroup]="myForm">
      
          <div class="form-item">
            <input type="text" name="sender" formControlName="name" required>
            <label>Name:</label>
          </div>
          <div class="form-item">
            <input type="text" name="email" formControlName="email" required>
            <label>Email:</label>
          </div>
          <div class="form-item">
            <textarea class="" name="message" formControlName="message" required></textarea>
            <label>Message:</label>
          </div>
          <button class="submit-btn" (click)="submitForm()">Send</button>  
        </form>
      </div>
      <div class="contact-description text-secondary">
       <h1>We love to hear a feedback from you, we will notify Ahzam soon as posible. <br> <span class="good">Your email will be used only for official purpose</span> <br><br> <span class="ok">** Some message will be Tweeted automatically**</span></h1> 
      </div>
    </div>
  </section>