@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Nanum+Gothic&family=Quicksand:wght@300&display=swap");
p{
    text-align:justify;
    font-family: 'Dosis';
   
}
.container-fluid{
    max-width: 2000px;
    overflow: hidden;
}

.pro-cont{
    padding: 100px 0;
    background-color: #f5f5f5;

    margin: 100px 0;
}


.pro-head{
    color: #7a7a7a ;
    margin: 20px;
    font-size: 80px;
    text-align: left;
    padding-bottom: 40px;
    max-width: 400px;
    width: 100%;
    background: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: bottom;       

}

@media only screen and (max-width: 1000px) {
    .pro-head{
        font-size: 40px;
    }
}
@media only screen and (max-width: 800px) {
  
    .underline {
        margin: 0;
    }
}



.underline {
    margin-left:6%;
    border-bottom: 2px solid linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
  }
  