
<div class="container-fluid" >
<app-hero ></app-hero>

    <app-about></app-about>

<app-education></app-education>
<div class="pro-cont">
    <div class="underline">
            <h1 class="pro-head">Projects </h1>
    </div>
    <app-weather></app-weather>
    <app-projects></app-projects>
</div>

<app-contact></app-contact>
<!-- <app-team></app-team> -->

<app-footer></app-footer>
<a href="#navbar" class="top-btn"><button mat-fab color="warn" aria-label="Example icon button with a home icon">
    Top
  </button></a>
</div>

<!-- .password-suggestions:not(:focus) {
    display: none !important;
} -->