<section id="contact">
    <div class="contact-box">
      <div class="contact-links">
        <h2>About ME</h2>
        <div class="image-div">
          <img class="image" src="assets/team/ahzam.jpg" alt="">
        </div>
      </div>
      <div class="contact-form-wrapper">
        
        <p class="about">progressively learning to design
          solutions and trying new Frameworks.
          Willing to embark my career seeking
          challenges and experiences working in
          an effective, fast-paced, solution and
          deadline-driven software engineering
          field. ability to adopt new language,
          framework or environments faster</p>
      </div>
      <div class="contact-description">
        <h1 class="skills">Skills</h1>  
        <p>Programming Languages
          JavaScript, TypeScript, Python,
          Java, PHP, C++, R,
          Frontend Frameworks
          AngularJS, ReactJS, Svelte, VueJS,
NuxtJS

Backend Frameworks
AngularJS, ReactJS, Svelte, VueJS,
NuxtJS  


Database
MongoDB, MySQL SQL, PostgreSQL,
SQlite, FireStore, Firebase Realtime


Database
MongoDB, MySQL SQL, PostgreSQL,
SQlite, FireStore, Firebase Realtime


Cloud Service & OS
Heroku, AWS, Firebase, Azure, Vercel,
Railway, Google Cloud, GNU/Linux, VS
Code, Google Colab

Cloud Service & OS
Heroku, AWS, Firebase, Azure, Vercel,
Railway, Google Cloud, GNU/Linux, VS
Code, Google Colab
          </p>
      </div>
    </div>
  </section>