@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

h3{
  font-size: 20px;
}

#contact {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {

  width: clamp(100px, 100%, 1500px);
  margin: 80px 0px;
  display: flex;
  padding: auto;
  column-gap: 1.7%;
  flex-wrap: wrap;
}


.skill-list p{
  font-size: 20px;
  line-height: 25px;
  font-family:'Open Sans', Courier, monospace;
}
.contact-description,
.contact-form-wrapper {
  padding: 20px 50px;
  margin: 20px;

  width: 45%;
}

.contact-form-wrapper{
  position: relative;
  background-color: rgb(245, 245, 245)
}
.contact-description{
  right: 0;
  background-color: black;
  color: #fff;
  text-align: left;
 

}


.dot-cont{
  bottom: 0;
  margin-bottom: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}


.dot{
  width: 5px;
  height: 5px;
  margin: 10px;
  border-radius: 50%;
  display: inline-block;
}



.dot:nth-child(1){
  background-color: #e0dd00;
}
.dot:nth-child(2){
  background-color: #36cffd;
}
.dot:nth-child(3){
  background-color: #20f87a;
}
.dot:nth-child(4){
  background-color: #ff2a2a;
}
// .contact-links {

.about{
  color:black ; //rgb(107, 107, 107);
  margin-bottom: 40px;
  font-size: 25px;
  font-weight:lighter;
  font-family: 'Roboto';
  line-height: 40px;
  text-align: left;
}
.code{
  border-right: 1px solid grey;
  display: inline-block;
  overflow: hidden;
}


.web-about-cont{
  width: clamp(100px, 90%, 1500px);
  background-color: #ff0659; //#fc0076;
  height: auto;
  color: #fff;
  display: block;
  margin:auto;
  height: 100%;
  display: flex;
  padding: 30px 40px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border-radius: 10px;

  .text-cont{
    overflow: hidden;
    width: 100%;
    width:650px;
    margin: 30px  ;
    display: inline-block;
    margin-top: 0;
    text-align: left;
    .text-div{
      
      display: inline-block;
      padding-top: 10px;
      line-height: 70px;
      
      // width: 50%;
      margin: auto ;
    font-size: 60px;
  
   
  
    }

  }
  .code-btn{
    font-size: 25px;
    height: 60px;
    width: 120px;
    margin: 15px;
  }
  .icon-cont-web{
 
    overflow: hidden;
    width: fit-content;
    max-width: 700px;
    
    display: inline-block;
    .icon-web-source{
      overflow: hidden;
      display: inline-block;
      margin: 15px;
      background-color: #fff;
      height: 60px;
      width: 60px;
      border-radius: 10px;
      img{
        width: 40px;
        margin: 10px;
      }
    }
    
  }
}



@media only screen and (max-width: 1000px) {
  .contact-form-wrapper {
    width: 100%;
  }
    .contact-description{
        width: 100%;
        text-align: left
    }
}
@media only screen and (max-width: 800px) {
  .contact-description,
  .contact-form-wrapper {
    width: 100%;
    padding: 50px 10px;
    margin: 0px;
    margin-top: 10px;
  }
  .dot-cont{
    bottom: 0;
    margin-bottom: 0;
  }
  .about{
    font-size: 20px;
  }

  .web-about-cont{
    padding: 30px 20px;
    .text-cont{
      width: 100%;
      max-width: 100%;
    }

    .icon-cont-web{
      max-width: 100%;
    }

    h3{
      font-size: 11px;
    }
  }

 


  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
  .about{
    font-size: 20px;
    line-height: 25px;
  }

  .web-about-cont{
    padding: 30px 10px;
    .text-cont{
      margin: 10px  ;
      .text-div{
        font-size: 30px;
        line-height: 30px;
      }
    }
    .code-btn{
      height: 60px;
      margin: 10px;
    }
    .icon-cont-web{
      max-width: 100%;
    }
    .icon-cont-web{

      .icon-web-source{
        margin: 5px;
        width: 60px;
        height: 60px;
        img{
          width: 40px;
          margin: 10px;
        }
      }}
  }

}




img{
  transition: 0.3s;
}


img:hover {
  transform: scale(1.1, 1.1);
  filter:blur(1px);
}

img:active {
  transform: scale(1.1, 1.1);
  filter:none;
}




.image-div{
    margin: 20px;
}

.name{
  background: linear-gradient(to right, #30CFD0 10% , #330867 20% ,  #ff0080 30% ); //#fff922 30% ,
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 30px;
  margin: 10px 0;
  padding: 10px 0;
}

.icon1{
  color: #f7df0c;
}
.icon2{
  color:  #30CFD0;

}
.icon3{
  color: #ff0080;
}
.icon4{
  color: #a459ff;
}
.icon5{
  color: #01ffd5;
}
.skills{
    
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgb(3, 255, 171));
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: bottom;  
    padding-bottom: 10px;
}
.image{
    border-radius:50%;
    width: 200px;
    height: 200px;
}
