<section class="contact-area" id="contactme">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="contact-content text-center">
                    <a href="#" class="name">Fawmee Ahzam</a>
                    <p>Software Engineer, Web Developer </p>
                    <div class="hr"></div>
                    <h6>D72 Hapugatalawa, Nawalapitiya, Sri Lanka 20668</h6>
                    <h6>+94 76 550 6609<span>|</span>+94 7788 2288 3</h6>

                    <h6>Mail : fawmeeahzam123@gmail.com</h6>
                    <div class="contact-social">
                        <ul>
                            <li><a class="hover-target" href="https://github.com/Ahzaam" target="_blank"><img src="assets/png/github.png" alt="Icon"></a></li>
                        
                            <li><a class="hover-target" href="https://linkedin.com/in/ahzaam"  target="_blank"><img src="assets/png/likedin.png" alt="Icon"></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer>
    <p>Copyright &copy; 2022 Glide Ceylon  All Rights Reserved.</p>
</footer>