<mat-toolbar  class="navbar" id="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>My App</span>
   <span class="example-spacer"></span>
   <button aria-label="Like Count" class="count" [ngClass]="{'pink' : like}"  mat-icon-button disabled>
    {{ likes }}
  </button>
   <button (click)="liked()" mat-icon-button class="example-icon favorite-icon " [ngClass]="{'pink' : like}" aria-label="Like Botton">
     <mat-icon>favorite</mat-icon>
   </button>
   
   
   
 </mat-toolbar>
