@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
    background-color: #000000;
 
  width: clamp(100px, 90%, 1500px);
  // margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
  padding: 100px 50px;
}


.contact-links{
  width: 30%;

}
.contact-form-wrapper{
    width: 70%;
    text-align: center;
}

.contact-description{
    margin: 60px 0 0 0 ;
    width: 20%;
    text-align: left
}

p{
  color: #bdbdbd;
}

.yellow{
  color:#00ff95;
}

h1{ 
    font-size: 50px;
    color: #f2f3fd;
    line-height: 50px;
    text-align: center;
}

.weather-input{
  margin: 30px 0;
  outline:invert;
  color:white;
  border: 1px solid grey;

  border-radius: 15px;
  padding-left: 20px;
  max-width: 300px;
  width: 100%;
  background: transparent;
  height: 30px;

}


.contact-form-wrapper {

  border-radius: 0 10px 10px 0;
}
@media only screen and (max-width: 1000px) {
    .contact-links,
  .contact-form-wrapper {
    text-align: center;
    width: 100%;
  }
    .contact-description{
        width: 100%;
        text-align: left
    }
    .contact-box {
    
      margin: 0;
    }
}
@media only screen and (max-width: 800px) {
  .contact-links,
  .contact-form-wrapper {
    padding: 50px 20px;
    width: 100%;
  }
  h1{
    font-size: 25px;
    line-height: 30px;
    
}
  .contact-links {
    border-radius: 10px 10px 0 0;
  }

  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
  .contact-box {
    
    margin: 0;
  }
  
}
.good{
    color: #20f87a;
  }


  
.weather-container{
  margin: 10px auto;
    width: 100%;
    max-width: 350px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .bg{
    position: absolute;
    z-index: 1;
    top: 0; left: 0; right: 0; bottom: 0;
  }
  
  .night_bg{
    background: #0F2129;
    background: -webkit-linear-gradient(#0F2129, #47334A); 
    background: -o-linear-gradient(#0F2129, #47334A); 
    background: -moz-linear-gradient(#0F2129, #47334A); 
    background: linear-gradient(#0F2129, #47334A);
  }
  
  .frosty_bg{
    background: #29386f;
    background: -webkit-linear-gradient(#29386f, #b8f5ff); 
    background: -o-linear-gradient(#29386f, #b8f5ff); 
    background: -moz-linear-gradient(#29386f, #b8f5ff); 
    background: linear-gradient(#29386f, #b8f5ff);

    animation: frostyAnimation 20s ease infinite;
    -webkit-animation: frostyAnimation 20s linear infinite;
  }
  
  .sunny_bg{
    background: #ffbd3f;
    background: -webkit-linear-gradient(#ffbd3f, #fff097); 
    background: -o-linear-gradient(#ffbd3f, #fff097); 
    background: -moz-linear-gradient(#ffbd3f, #fff097); 
    background: linear-gradient(#ffbd3f, #fff097);

    animation: sunnyAnimation 20s ease infinite;
    -webkit-animation: sunnyAnimation 20s linear infinite;
  }
 
  .text_container{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 3;
  }
  
  .degrees{
    color: #4F787D;
    display: block;
    text-indent: -5px;
    font-size: 100px;
    font-weight: bold;
    position: relative;
    animation: degreesAnimation 20s ease infinite;
    -webkit-animation: degreesAnimation 20s linear infinite;
  }
  
  
  
  .degrees::before{
  
    animation: degreesTextAnimation 20s ease infinite;
    -webkit-animation: degreesTextAnimation 20s linear infinite;
  }
  
  
  
  .degrees span{
    font-size: 50px;
    position: absolute;
    top: 0;
  }
  
  .place{
    margin: 30px 0 0 0;
    text-transform: uppercase;
    color: #694c6d;
    animation: placeAnimation 20s ease infinite;
    -webkit-animation: placeAnimation 20s linear infinite;
  }
  

  
   .place::before{
    
    animation: placeTextAnimation 20s ease infinite;
    -webkit-animation: placeTextAnimation 20s linear infinite;
  }
  

  
  .weather{
    color: #FFF;
  }
  
   .weather::before{
 
    animation: weatherTextAnimation 20s ease infinite;
    -webkit-animation: weatherTextAnimation 20s linear infinite;
  }
  
 
  
  .circle_container{
    position: absolute;
    bottom: 200px;
    left: 100px;
    -webkit-animation: circleAnimation 20s linear infinite;
    animation: circleAnimation 20s ease infinite;
  }
  

  .circle {
      position: relative;
      z-index: 7;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      -ms-box-shadow: 9px 9px 0 0 #BCAE76;
      -o-box-shadow: 9px 9px 0 0 #BCAE76;
      -webkit-box-shadow: 9px 9px 0 0 #BCAE76;
      box-shadow: 9px 9px 0 0 #BCAE76;
      -ms-transform: rotate(100deg);
      -webkit-transform: rotate(100deg);
      -o-transform: rotate(100deg);
      transform: rotate(100deg);
      animation: circleColor 20s ease infinite;
      -webkit-animation: circleColor 20s linear infinite;
  }
  
  
  
  .circle1{
    content: '';
    background-color: #BCAE76;
    position: absolute;
    height: 90px;
    width: 90px;
    z-index: 6;
    border-radius: 50%;
    opacity: 0.1;
    top: -5px;
    left: -30px;
    animation: circle1Color 20s ease infinite;
    -webkit-animation: circle1Color 20s linear infinite;
  }
  
  
  .circle3{
    background-color: #BCAE76;
    position: absolute;
    height: 130px;
    width: 130px;
    z-index: 6;
    border-radius: 50%;
    opacity: 0.1;
    top: -25px;
    left: -50px;
    animation: circle3Color 20s ease infinite;
    -webkit-animation: circle3Color 20s ease infinite;
  }
  
  
  
  .ground1{
    width: 270px;
    height: 150px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: absolute;
    z-index: 2;
    bottom: -50px;
    left: -20px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
  }
  
  .ground1_night{
    background: #2f2b3c; 
    background: -webkit-linear-gradient(#2f2b3c, #091B21); 
    background: -o-linear-gradient(#2f2b3c, #091B21); 
    background: -moz-linear-gradient(#2f2b3c, #091B21); 
    background: linear-gradient(#2f2b3c, #091B21);
    animation: nightGroundAnimation 20s ease infinite;
    -webkit-animation: nightGroundAnimation 20s ease infinite;
  }
  
  .ground1_frosty{
    background: #f3ffff; 
    background: -webkit-linear-gradient(#f3ffff, #9af2ff); 
    background: -o-linear-gradient(#f3ffff, #9af2ff); 
    background: -moz-linear-gradient(#f3ffff, #9af2ff); 
    background: linear-gradient(#f3ffff, #9af2ff);

    animation: frostyGroundAnimation 20s ease infinite;
    -webkit-animation: frostyGroundAnimation 20s ease infinite;
  }
  
  .ground1_sunny{
    background: #e0d7a4; 
    background: -webkit-linear-gradient(#e0d7a4, #e7c77a); 
    background: -o-linear-gradient(#e0d7a4, #e7c77a); 
    background: -moz-linear-gradient(#e0d7a4, #e7c77a); 
    background: linear-gradient(#e0d7a4, #e7c77a);

    animation: sunnyGroundAnimation 20s ease infinite;
    -webkit-animation: sunnyGroundAnimation 20s ease infinite;
  }
  
  .ground2{
    width: 500px;
    height: 150px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: absolute;
    z-index: 2;
    bottom: -70px;
    right: -80px;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg);
  }
  
  .ground2_night{
    background: #2f2b3c; 
    background: -webkit-linear-gradient(#2f2b3c, #091B21); 
    background: -o-linear-gradient(#2f2b3c, #091B21); 
    background: -moz-linear-gradient(#2f2b3c, #091B21); 
    background: linear-gradient(#2f2b3c, #091B21);
    animation: nightGroundAnimation 20s ease infinite;
    -webkit-animation: nightGroundAnimation 20s ease infinite;
  }
  
  .ground2_frosty{
    background: #f3ffff; 
    background: -webkit-linear-gradient(#f3ffff, #9af2ff); 
    background: -o-linear-gradient(#f3ffff, #9af2ff); 
    background: -moz-linear-gradient(#f3ffff, #9af2ff); 
    background: linear-gradient(#f3ffff, #9af2ff);

    animation: frostyGroundAnimation 20s ease infinite;
    -webkit-animation: frostyGroundAnimation 20s ease infinite;
  }
  
  .ground2_sunny{
    background: #e0d7a4; 
    background: -webkit-linear-gradient(#e0d7a4, #e7c77a); 
    background: -o-linear-gradient(#e0d7a4, #e7c77a); 
    background: -moz-linear-gradient(#e0d7a4, #e7c77a); 
    background: linear-gradient(#e0d7a4, #e7c77a);

    animation: sunnyGroundAnimation 20s ease infinite;
    -webkit-animation: sunnyGroundAnimation 20s ease infinite;
  }
  