<section id="contact">
  <div class="contact-box" >
    
    <div class="contact-form-wrapper">
      <h1>Data Fetched From our <span class="good">Weather API</span></h1>   
        <div class="my-5">
          <a  target="_blank"  href="http://weatherapp-api-vercel.vercel.app/forcast/kandy?apikey=3pF4SnRVhFRVzH0luGP1">
            <button class="btn btn-primary rounded-pill px-5 mx-3 my-3">API</button>
          </a>
          
          <a target="_blank"  href="https://github.com/Ahzaam/weather-api">
            <button class="btn btn-danger rounded-pill px-5 mx-3 my-3">CODE</button>
          </a>
        </div>
    </div>
    <div class="contact-description text-secondary px-2">
      <!-- ******************************************* -->
      <div class="weather-container">
        <div class="bg night_bg"></div>
        <div class="bg frosty_bg"></div>
        <div class="bg sunny_bg"></div>
        <div class="text_container">
          <div class="degrees"><span>&ordm;</span></div>
          <div class="place"></div>
          <div class="weather"></div>
        </div>
        <div class="circle_container">
          <div class="circle"></div>
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
        </div>
        <div class="ground1 ground1_night"></div>
        <div class="ground1 ground1_frosty"></div>
        <div class="ground1 ground1_sunny"></div>
        <div class="ground2 ground2_night"></div>
        <div class="ground2 ground2_frosty"></div>
        <div class="ground2 ground2_sunny"></div>
      </div>

      <!-- ////////////////////////////////////////// -->
    
    </div>
  </div>
  
</section>

