<app-dialog></app-dialog>

<header style="background-image:url('assets/mac.png');" id="main">
  <!-- Quantity should be the same in Sass-->
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
    <div class="hero__content">
        
      <h1>Fawmee Ahzam </h1>
      
      <p>Software Engineer </p>
        <a href="/assets/Fawmee-Ahzam.pdf" download><button (click)="cvDownload()" class="btn btn-primary my-5 rounded-pill">Download CV</button></a>
        
    </div>
   
  </header>