<header style="background-image:url('assets/mac.png'); " class="main" id="main">
  <!-- Quantity should be the same in Sass-->
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
    <div class="hero__content">

<div *ngIf="regdata !== null" class=" text-info">We Noticed that your from {{regdata.cname}}, Welcome {{regdata.message}}</div>

        
      <h1>Fawmee Ahzam </h1>
      
      <p>Software Engineer </p>
      
      <div class="row my-5">
       <div class="col-7 my-2 col-md-4">
        
        <a href="/assets/Fawmee-Ahzam.pdf"  download><button (click)="cvDownload()" class="btn btn-primary  rounded-pill ">Download CV</button></a>
       </div>
       <div class="col-7 my-2 col-md-4">
        <a href="#contactme"><button  class="btn btn-danger  rounded-pill ">Contact Me</button></a>
       </div>
   
      </div>  
    </div>
   
  </header>