
<div id="projects">

<!-- ********************************* -->

<section id="contact">
  <div class="contact-box" >
    
    <div class="contact-form-wrapper">
      <h1> <span style="color:#00aeff">Twitter</span> Bot Tweets events on server</h1>
      <p class="twit-des">Twitter Bot triggers are in every server. tweet happens when a serve trigger a event <br>Ex: weather data serach, Add product</p>   
        <div class="my-5">

          <a target="_blank" href="https://twitter.com/FawmeeAhzam">
            <button class="btn btn-primary rounded-pill px-5 mx-3 my-3">ACCOUNT</button>
          </a>

          <a target="_blank"  href="https://github.com/Ahzaam/weather-api/tree/main/controller">
            <button class="btn btn-danger rounded-pill px-5 mx-3 my-3">CODE</button>
          </a>
        </div>
    </div>
    <div class="contact-description text-secondary">
      <!-- ******************************************* -->
      <img src="/assets/png/twitter-log.png" alt="">
      <!-- ////////////////////////////////////////// -->
    
    </div>
  </div>
  
</section>








<!-- ********************************* -->

<main>
  <article >
    <img class="proimage" src="assets/projects/estate.png" alt="">
    <div class="div-over">
      <h3>Tea Estate</h3>
      <button class="btn btn-primary m-3">Visit</button>
        <button class="btn btn-danger  m-3"> Code /></button>
      <p class="pro-description">progressively learning to design
        solutions and trying new Frameworks.
        Willing to embark my career seeking
        challenges and experiences working in
        an effective, fast-paced, solution and
        deadline-driven software engineering
        field. ability to adopt new language,
        framework or environments fasterprogressively learning to design
        solutions and trying new Frameworks.
        Willing to embark my career seeking
        challenges and experiences working in
        an effective, fast-paced, solution and
        deadline-driven software engineering
        field. ability to adopt new language,
        framework or environments fasterprogressively learning to design
        solutions and trying new Frameworks.
        Willing to embark my career seeking
        challenges and experiences working in
        an effective, fast-paced, solution and
        deadline-driven software engineering
        field. ability to adopt new language,
        framework or environments faster</p>


        
    </div>
  </article>
  <article >

    <img class="proimage" src="assets/projects/ecommerce.png" alt="">
    <div class="div-over">

    </div>
  </article>
  <article >

    <img class="proimage" src="assets/projects/weatherapp.png" alt="">
    <div class="div-over">
     
    </div>
  </article>
  <article >

    <img class="proimage" src="assets/projects/gmovies.png" alt="">
    <div class="div-over">

    </div>
  </article>

  <article >

    <img class="proimage" src="assets/projects/megatron.png" alt="">
    <div class="div-over">

    </div>
  </article>
  <article >

    <img class="proimage" src="assets/projects/titanic.png" alt="">
    <div class="div-over">

    </div>
  </article>
  
</main>
</div>
<!-- ************************************************  -->

<div class="container mx-auto">
  <div class="grid-container">
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/angular.png" alt="">
      </div>
      <div class="grid-name">
        Angular
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/node.png" alt="">
      </div>
      <div class="grid-name">
        Node JS
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/nuxt.png" alt="">
      </div>
      <div class="grid-name">
        Nuxt JS
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/django.png" alt="">
      </div>
      <div class="grid-name">
        Django
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/react.png" alt="">
      </div>
      <div class="grid-name">
        React JS
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/svelte.png" alt="">
      </div>
      <div class="grid-name">
        Svelte
      </div>
    </div>
    
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/javascript.png" alt="">
      </div>
      <div class="grid-name">
        JavaScript
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/bootstrap.png" alt="">
      </div>
      <div class="grid-name">
        Bootstrap
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/typescript.png" alt="">
      </div>
      <div class="grid-name">
        TypeScript
      </div>
    </div>


    
  </div>
</div>