* {
  box-sizing: border-box;
}
main {
  max-width: 1500px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 300px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(30%, 2fr)); 
  grid-gap: 1em;
}

article {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

article:hover{
  transition: 0.1s;
  transform: scale(1.05);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(100%, 2fr)); 

  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(100%, 2fr)); 

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
  grid-template-columns: repeat(auto-fill, minmax(40%, 2fr)); 

}}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(30%, 2fr)); 

  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(30%, 2fr)); 

  }
}