
<div id="projects">

<!-- ********************************* -->

<section id="contact">
  <div class="contact-box" >
    
    <div class="contact-form-wrapper">
      <h1> <span style="color:#00aeff">Twitter</span> Bot Tweets events on server</h1>
      <p class="twit-des">Twitter Bot triggers are in every server. tweet happens when a serve trigger a event <br>Ex: weather data serach, Add product</p>   
        <div class="my-md-5 my-3">

          <a target="_blank" href="https://twitter.com/FawmeeAhzam">
            <button class="btn btn-primary rounded-pill px-md-5 m-1 mx-md-3 my-md-3">ACCOUNT</button>
          </a>

          <a target="_blank"  href="https://github.com/Ahzaam/weather-api/tree/main/controller">
            <button class="btn btn-danger rounded-pill px-md-5 m-1 mx-md-3 my-md-3">CODE</button>
          </a>
        </div>
    </div>
    <div class="contact-description text-secondary">
      <!-- ******************************************* -->
      <img src="/assets/png/twitter-log.png" alt="">
      <!-- ////////////////////////////////////////// -->
    
    </div>
  </div>
  
</section>








<!-- ********************************* -->

<main>
  <article >
    <img class="proimage" src="assets/projects/estate.png" alt="">
    <div class="div-over">
      <h3>Tea Estate</h3>
      <a target="_blank" href="https://estatemanagements.herokuapp.com/">
        <button class="btn btn-primary m-md-3">Visit</button>
      </a>
       <a target="_blank"  href="https://github.com/Ahzaam/Estate-Management">
        <button class="btn btn-danger  m-md-3"> Code /></button>
       </a> 
      <p class="lead text-start mx-md-5 m-2">
        A management sytem to manage account in tea estate, in tea estate workers get paid
        by the weight of tea collected over the month, and their are intermediate persons like estate owner and collection agent 
        this system connects everyone and calculates the profit, salary, supplied tea weight and send the notification to the mentioned peoples


      </p>


        
    </div>
  </article>
<!-- 
  <a target="_blank"  href="">
    <button class="btn btn-primary m-md-3">Visit</button>
  </a>
   <a target="_blank"  href="">
    <button class="btn btn-danger  m-md-3"> Code /></button>
   </a>

    -->
  <article >

    <img class="proimage" src="assets/projects/ecommerce.png" alt="">
    <div class="div-over">
      <h3>Ecommerce Website </h3>
      <a target="_blank"  href="http://nzfashion.infinityfreeapp.com/">
        <button class="btn btn-primary m-md-3">Visit</button>
      </a>
       <a target="_blank"  href="https://github.com/Ahzaam/Fashion">
        <button class="btn btn-danger  m-md-3"> Code /></button>
       </a>
      <p class="lead text-start mx-md-5 m-2">
      Ecommerce website with a oparation admin panel Product CRUD, Orders page with order
      status tracking, statistics for income(Chart JS)

      </p> 
    </div>
    
  </article>
  <article >

    <img class="proimage" src="assets/projects/weatherapp.png" alt="">
    <div class="div-over">
      <h3>Tea Estate</h3>
      <a target="_blank"  href="">
        <button class="btn btn-primary m-md-3">Visit</button>
      </a>
       <a target="_blank"  href="">
        <button class="btn btn-danger  m-md-3"> Code /></button>
       </a>
      <p class="lead text-start mx-md-5 m-2">
       Weather app ,By default it shows the weather data by your IP location, you can serch for city weather and forcast for 5days with 3 hour gap <br>

       Its connected with twitter bot whenever user search for a city data it will trigger a tweet with that data

      </p>
    </div>
  </article>
  <article >

    <img class="proimage" src="assets/projects/gmovies.png" alt="">
    <div class="div-over">
      <h3>Tea Estate</h3>
      <a target="_blank"  href="">
        <button class="btn btn-primary m-md-3">Visit</button>
      </a>
       <a target="_blank"  href="">
        <button class="btn btn-danger  m-md-3"> Code /></button>
       </a>
      <p class="lead">
        A management sytem to manage account in tea estate, in tea estate workers get paid
        by the weight of tea collected over the month, and their are intermediate persons like estate owner and collection agent 
        this system connects everyone and calculates the profit, salary, supplied tea weight and send the notification to the mentioned peoples


      </p>
    </div>
  </article>

  <article >

    <img class="proimage" src="assets/projects/megatron.png" alt="">
    <div class="div-over">
      <h3>Tea Estate</h3>
      <a target="_blank"  href="http://nzfashion.infinityfreeapp.com/">
        <button class="btn btn-primary m-md-3">Visit</button>
      </a>
       <a target="_blank"  href="https://github.com/Ahzaam/Fashion">
        <button class="btn btn-danger  m-md-3"> Code /></button>
       </a>
      <p class="lead text-start mx-md-5 m-2">
      Ecommerce website with a oparation admin panel Product CRUD, Orders page with order
      status tracking, statistics for income(Chart JS)

      </p> 
    </div>
  </article>
  <article >

    <img class="proimage" src="assets/projects/titanic.png" alt="">
    <div class="div-over">

    </div>
  </article>
  
</main>
</div>
<!-- ************************************************  -->

<div class="container mx-auto">
  <div class="grid-container">
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/angular.png" alt="">
      </div>
      <div class="grid-name">
        Angular
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/node.png" alt="">
      </div>
      <div class="grid-name">
        Node JS
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/nuxt.png" alt="">
      </div>
      <div class="grid-name">
        Nuxt JS
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/django.png" alt="">
      </div>
      <div class="grid-name">
        Django
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/react.png" alt="">
      </div>
      <div class="grid-name">
        React JS
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/svelte.png" alt="">
      </div>
      <div class="grid-name">
        Svelte
      </div>
    </div>
    
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/javascript.png" alt="">
      </div>
      <div class="grid-name">
        JavaScript
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/bootstrap.png" alt="">
      </div>
      <div class="grid-name">
        Bootstrap
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/typescript.png" alt="">
      </div>
      <div class="grid-name">
        TypeScript
      </div>
    </div>


    
  </div>
</div>