
<div id="projects">

<!-- ********************************* -->

<section id="contact">
  <div class="contact-box" >
    
    <div class="contact-form-wrapper">
      <h1> <span style="color:#00aeff">Twitter Bot </span>tweets about server-side events</h1>
      <p class="twit-des">Twitter Bot triggers are in every server. tweet happens when a serve trigger a event <br>Ex: weather data serach, Add product</p>   
        <div class="my-md-5 my-3">

          <a target="_blank" href="https://twitter.com/FawmeeAhzam">
            <button class="btn btn-primary rounded-pill px-md-5 m-1 mx-md-3 my-md-3">ACCOUNT</button>
          </a>

          <a target="_blank"  href="https://github.com/Ahzaam/weather-api/tree/main/controller">
            <button class="btn btn-danger rounded-pill px-md-5 m-1 mx-md-3 my-md-3">CODE</button>
          </a>
        </div>
    </div>
    <div class="contact-description text-secondary">
      <!-- ******************************************* -->
      <img src="/assets/png/twitter-log.png" alt="Image">
      <!-- ////////////////////////////////////////// -->
    
    </div>
  </div>
  
</section>








<!-- ********************************* -->
<h3>User interface related projects</h3>

<main >



  <article  >
    <div class="img-div">
      <img class="prothumb" src="assets/projects/glideceylon.png" alt="Image">
    </div>
    <div class="description">
      <div class="h3sdq">Tea estate</div>
      <div class="text-start mx-2 my-4">
        <a target="_blank" href="https://estate.up.railway.app">
          <button class="btn btn-primary rounded-pill  m-md-3">Visit</button>
        </a>
         <a target="_blank"  href="https://github.com/Ahzaam/Estate-Management">
          <button class="btn btn-danger rounded-pill m-md-3"> Code /></button>
         </a> 
      </div>
      <p class="lead text-start des-p my-5 font-20">
        System manages account in tea estate, in tea estate workers get paid
        by the weight of tea collected over the month, and their are intermediate persons like estate owner and collection agent 
        this system connects everyone and calculates the profit, salary, supplied tea weight and send the notification to the mentioned peoples
        <br>
       <span class="text-primary"> This is a Demo App, Production app has some users for security purposes it cannot be shared</span>
        <br>
        #Django #Chart JS #SMS <span class="text-danger">#Heroku</span>

      </p>
     
    </div>

    <div>
      
    <div class="bottom">
      <div class="name">
        <div class="h3sdq">Tea estate</div>

      </div>
      <div class="more inline "  >
        <div class="text-white bg-dark moreplus text-center "> <mat-icon  (click)="openDes($event)" >add</mat-icon></div>
       
      </div>
    </div>
    </div>
  </article>
  <article   class="close">
    <div class="img-div">
      <img class="prothumb" src="assets/projects/nzfashion.png" alt="Image">
    </div>
    <div class="description">
      <div class="h3sdq">Clothing Web</div>
      <div class="text-start mx-2 my-4">
        <a target="_blank"  href="http://nzfashion.infinityfreeapp.com/">
          <button class="btn btn-primary rounded-pill  m-md-3">Visit</button>
        </a>
         <a target="_blank"  href="https://github.com/Ahzaam/Fashion">
          <button class="btn btn-danger rounded-pill   m-md-3"> Code /></button>
         </a>
      </div>
      <p class="lead text-start des-p my-5 font-20">
        Ecommerce website with a oparation admin panel Product CRUD, Orders page with order
      status tracking, statistics for income(Chart JS)

      <br>
      #HTML #CSS #PHP #Bootsrap
      </p>
     
    </div>

    <div>
      
    <div class="bottom">
      <div class="name">
        <div class="h3sdq">Clothing Web</div>

      </div>
      <div class="more inline "  >
        <div class="text-white bg-dark moreplus text-center "> <mat-icon  (click)="openDes($event)" >add</mat-icon></div>
       
      </div>
    </div>
    </div>
  </article>

  
  <article >
    <div class="img-div">
      <img class="prothumb" src="assets/projects/weatherapp.png" alt="Image">
    </div>
    <div class="description">
      <div class="h3sdq">Weather App</div>
      <div class="text-start mx-2 my-4">
        <a target="_blank"  href="https://weather-forecast-92773.web.app">
          <button class="btn btn-primary rounded-pill  m-md-3">Visit</button>
        </a>
         <a target="_blank"  href="https://github.com/Ahzaam/weatherapp">
          <button class="btn btn-danger  rounded-pill  m-md-3"> Code /></button>
         </a>
      </div>
      <p class="lead text-start des-p my-5 font-20">
        Weather app ,By default it shows the weather data by your IP location, you can serch for city weather and forcast for 5days with 3 hour gap <br>

        Its connected with twitter bot whenever user search for a city data it will trigger a tweet with weather data for the city

         <br>
         #Angular #Node JS #Material UI #Bootsrap #Firebase

      </p>
      
    </div>

    <div>
      
    <div class="bottom">
      <div class="name">
        <div class="h3sdq">Weather App</div>

      </div>
      <div class="more inline "  >
        <div class="text-white bg-dark moreplus text-center "> <mat-icon  (click)="openDes($event)" >add</mat-icon></div>
       
      </div>
    </div>
    </div>
  </article>


    
  <article >
    <div class="img-div">
      <img class="prothumb" src="assets/projects/gmovies.png" alt="Image">
    </div>
    <div class="description">
      <div class="h3sdq">Search Movies</div>
      <div class="text-start mx-2 rounded-pill  my-4">
        <a target="_blank"  href="https://movie-fd3ac.web.app/">
          <button class="btn btn-primary rounded-pill  m-md-3">Visit</button>
        </a>
         <a target="_blank"  href="https://github.com/Ahzaam/reactapp">
          <button class="btn btn-danger rounded-pill   m-md-3"> Code /></button>
         </a>
      </div>
      <p class="lead text-start des-p my-5 font-20">
       You can serch for movies 
       <br>
       #Reacj JS #OmdbAPI

      </p>
      
    </div>

    <div>
      
    <div class="bottom">
      <div class="name">
        <div class="h3sdq">Search Movies</div>

      </div>
      <div class="more inline "  >
        <div class="text-white bg-dark moreplus text-center "> <mat-icon  (click)="openDes($event)" >add</mat-icon></div>
       
      </div>
    </div>
    </div>
  </article>

  
  
  <article class="close">
    <div class="img-div">
      <img class="prothumb" src="assets/projects/megatron.png" alt="Image">
    </div>
    <div class="description">
      <div class="h3sdq">Kids Toy Store</div>
      <div class="text-start mx-2 my-4">
        <a target="_blank" href="http://megatron.epizy.com/">
          <button class="btn btn-primary rounded-pill  m-md-3">Visit</button>
        </a>
         <a target="_blank"  href="https://github.com/Ahzaam/megatron">
          <button class="btn btn-danger rounded-pill m-md-3"> Code /></button>
         </a> 
      </div>
      <p class="lead text-start des-p my-5 font-20">
       Kids toy store and baby essentials with CRUD operations
       <br>
       ** Assignment Project **
       <br>

       #HTML #CSS #PHP

      </p>
     
    </div>

    <div>
      
    <div class="bottom">
      <div class="name">
        <div class="h3sdq">Kids Toy Store</div>

      </div>
      <div class="more inline "  >
        <div class="text-white bg-dark moreplus text-center "> <mat-icon  (click)="openDes($event)" >add</mat-icon></div>
       
      </div>
    </div>
    </div>
  </article>
    
  <article class="close">
    <div class="img-div">
      <img class="prothumb" src="assets/projects/charity.png" alt="Image">
    </div>
    <div class="description text-start">
      <div class="h3sdq">Charity App</div>

       <a target="_blank"  href="https://github.com/Ahzaam/Charity-Fund">
        <button class="btn btn-danger rounded-pill my-3 "> Code /></button>
       </a> 
      <p class="lead text-start des-p my-5 font-20">
        Implemented with React JS, can recoganize client by scanning the QR code 
        <br>whenever Database changes Ui updates in every device by firebase realtime DB 

      </p>
      <div class="text-start mx-2 my-4">
        
      </div>
    </div>

    <div>
      
    <div class="bottom">
      <div class="name">
        <div class="h3sdq">Charity App</div>

      </div>
      <div class="more inline "  >
        <div class="text-white bg-dark moreplus text-center "> <mat-icon  (click)="openDes($event)" >add</mat-icon></div>
       
      </div>
    </div>
    </div>
  </article>

  <article class="close">
    <div class="img-div">
      <img class="prothumb" src="assets/projects/titanic.png" alt="Image">
    </div>
    <div class="description text-start ">
      <div class="h3sdq">Death Prediction</div>

      <a target="_blank" href="https://titanic-death.herokuapp.com/">
        <button class="btn btn-primary rounded-pill  m-md-3">Visit</button>
      </a>
       <a target="_blank"  href="https://github.com/Ahzaam/Titanic-Death-Prediction-Web">
        <button class="btn btn-danger rounded-pill m-md-3"> Code /></button>
       </a> 
      <p class="lead text-start des-p my-5 font-20">
        Predicts if the passenger is dead or alive by getting the age fare and gender

        <br>
        #Django #SciKit-Learn #Bootsrap  <span class="text-danger">#Heroku</span>

      </p>
      <div class="text-start mx-2 my-4">
        
      </div>
    </div>

    <div>
      
    <div class="bottom">
      <div class="name">
        <div class="h3sdq">Death Prediction</div>

      </div>
      <div class="more inline "  >
        <div class="text-white bg-dark moreplus text-center "> <mat-icon  (click)="openDes($event)" >add</mat-icon></div>
       
      </div>
    </div>
    </div>
  </article>
   
   
  <article class="close" >
    <div class="img-div">
      <img class="prothumb" src="assets/projects/social.png" alt="Image">
    </div>
    <div class="description text-start ">
      <div class="h3sdq">Social Media App</div>

       <a target="_blank"  href="https://github.com/Ahzaam/Social-Media">
        <button class="btn btn-danger rounded-pill m-md-3"> Code /></button>
       </a> 
      <p class="lead text-start des-p my-5 font-20">
        Similar to instagram, you can chat with everyone

        <br>
        #PHP #HTML #CSS
      </p>
      <div class="text-start mx-2 my-4">
        
      </div>
    </div>

    <div>
      
    <div class="bottom">
      <div class="name">
        <div class="h3sdq">Social Media App</div>

      </div>
      <div class="more inline "  >
        <div class="text-white bg-dark moreplus text-center "> <mat-icon  (click)="openDes($event)" >add</mat-icon></div>
       
      </div>
    </div>
    </div>
  </article>
   

  
  </main>
</div>
<!-- ************************************************  -->

<div class="container mx-auto">
  <div class="grid-container">
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/angular.png" alt="Image">
      </div>
      <div class="grid-name">
        Angular
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/node.png" alt="Image">
      </div>
      <div class="grid-name">
        Node JS
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/nuxt.png" alt="Image">
      </div>
      <div class="grid-name">
        Nuxt JS
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/django.png" alt="Image">
      </div>
      <div class="grid-name">
        Django
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/react.png" alt="Image">
      </div>
      <div class="grid-name">
        React JS
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/svelte.png" alt="Image">
      </div>
      <div class="grid-name">
        Svelte
      </div>
    </div>
    
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/javascript.png" alt="Image">
      </div>
      <div class="grid-name">
        JavaScript
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/bootstrap.png" alt="Image">
      </div>
      <div class="grid-name">
        Bootstrap
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-img">
        <img src="assets/png/typescript.png" alt="Image">
      </div>
      <div class="grid-name">
        TypeScript
      </div>
    </div>


    
  </div>
</div>