<h1>Education</h1>

<div class="container text-start">

   <div class="timeline-block timeline-block-right ">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>GCE O/L</h3>
         <span>2012 - 2017</span>
         <p>Maths ( A ), Computer Science ( B ), Science ( B )</p>
    </div>
   </div>

   <div class="timeline-block timeline-block-left">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>GCE A/L</h3>
         <span>2017 - 2020</span>
         <p>Statistics, Trigonometry, Strait Line,
            Circle, Vectors, Algebra <br>
            Physics ( C ), Chemistry ( S ), Math's ( S ) </p>
        </div>
   </div>

   <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
         <h3>Pearson HND in Computer Science</h3>
         <span>2021 - Present</span>
        <p>Java, Web Development(PHP), DBMS,
            IOT, OOP, Data structure and
            Algorithm(Python, Java) Project
            Management, Professional Practice
            </p> 
        </div>
   </div>

   
</div>
